#body {
    background-image: url("../image/imagen1.jpg");
    background-size: cover;
}
h2 {
    margin: 0;
    padding-top: 35px;
    padding-left: 40px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: sans-serif;
    color: rgba(245, 130, 32, 0.9);
}
.fondo {
    position: absolute;
    top: 30%;
    bottom: 25%;
    right: 20%;
    left: 20%;
    background-color: #272931de;
    border-radius: 3px;
}
.signUp {
    position: absolute;
    top: 27%;
    bottom: 22%;
    right: 50%;
    left: 25%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    z-index: 1;
}
.formSignUp p {
    display: flex;
    justify-content: center;
    margin: 0;
}
.formSignUp .formItems {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
    padding: 12px 8px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 20px;
    width: 75%;
    color: rgba(0, 0, 0, 0.4);
    transition: .3s;
    height: 45px;
}
.formSignUp .formItems:focus {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 22px;
}
.formSignUp .formItems:hover {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 22px;
}
.bottonSignUp {
    border: none;
    outline: none;
    padding: 12px 38px;
    box-sizing: border-box;
    font-size: 22px;
    color: #fff;
    border-radius: 3px;
    margin-top: 40px;
    background-color: rgba(245, 130, 32, 0.6); 
    transition: .3s;
}
.bottonSignUp:hover {
    background-color: rgba(245, 130, 32, 0.8); 
}
