#login, #signup{
    height: 100vh;
    background-image: url("../image/imagen2.jpg");
    background-size: cover;
}

.users-background {
    position: absolute;
    top: 30%;
    bottom: 25%;
    right: 20%;
    left: 20%;
    background-color: #272931de;
    border-radius: 3px;
    display: flex;
}
.users-background.login {
    justify-content: flex-end;
}
.users-login {
    position: absolute;
    top: 27%;
    bottom: 22%;
    right: 50%;
    left: 25%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    z-index: 1;
}
.users-signup {
    position: absolute;
    top: 27%;
    bottom: 22%;
    right: 25%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    z-index: 1;
}
.users-title {
    margin: 0;
    padding-top: 35px;
    padding-left: 40px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: sans-serif;
    color: rgba(245, 130, 32, 0.9);
}
.users-form div {
    display: flex;
    justify-content: center;
    margin: 0;
}
.users-form .form-items {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
    padding: 12px 8px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 20px;
    width: 75%;
    color: rgba(0, 0, 0, 0.4);
    transition: .3s;
    height: 45px;
}
.users-form .form-items:focus {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 22px;
}
.users-form .form-items:hover {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 22px;
}
.users-form .users-btn{
    border: none;
    outline: none;
    padding: 12px 38px;
    box-sizing: border-box;
    font-size: 22px;
    color: #fff;
    border-radius: 3px;
    margin-top: 23px;
    background-color: rgba(245, 130, 32, 0.6); 
    transition: .3s;
}
.users-form .users-btn:hover {
    background-color: rgba(245, 130, 32, 0.8); 
}
.anotherOption.signup {
    width: 50%;
    height: 100%;
    text-align: center;
    display: grid;
    align-content: center;
}
.anotherOption.login {
    width: 50%;
    height: 100%;
    text-align: center;
    display: grid;
    align-content: center;
}
.anotherOption p{
    color: white;
    font-size: 25px;
    font-family: Montserrat;
}
.anotherOption p a {
    text-decoration: none;
    color: rgba(245, 130, 32, 0.6);
}