#login, #signup{
    height: 100vh;
    background-image: url("../image/imagen2.jpg");
    background-size: cover;
}

.users-background {
    position: absolute;
    top: 30%;
    bottom: 25%;
    right: 20%;
    left: 20%;
    background-color: #272931de;
    border-radius: 3px;
    display: flex;
}
.users-background.login {
    justify-content: flex-end;
}
.users-login {
    position: absolute;
    top: 26%;
    bottom: 21%;
    right: 50%;
    left: 25%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.6);
}
.users-signup {
    position: absolute;
    top: 26%;
    bottom: 21%;
    right: 25%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.6);
}
.users-title {
    padding: 5px 0;
    text-transform: uppercase;
    color: rgba(245, 130, 32, 0.9);
}
.users-form div {
    display: flex;
}
.users-form .form-items {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
    padding: 12px 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    transition: .3s;
    height: 45px;
}
.anotherOption.signup {
    width: 50%;
    height: 100%;
    text-align: center;
    display: grid;
    align-content: center;
}
.anotherOption.login {
    width: 50%;
    height: 100%;
    text-align: center;
    display: grid;
    align-content: center;
}
.anotherOption p{
    color: white;
    font-size: 25px;
    font-family: Montserrat;
}
.anotherOption p a {
    text-decoration: none;
    color: rgba(245, 130, 32, 0.6);
}
.remember_login {
    display: flex;
    justify-content: end;
    padding: 12px 8px;
    margin-bottom: 10px;
    align-items: center;
}
.remember_login input {
    margin-right: 10px;
}
.forget_pass {
    padding-top: 10px;
    font-size: 14px;
    color: rgba(245, 130, 32, 0.6);
}
.forget_pass a {
    color: rgb(245, 130, 32);
}
.forget_pass a:hover {
    color:#000;
}