.contact {
    padding-top: 6%;
    background-image: url("../image/imagen4.jpg");
    background-size: cover;
}
.background_title {
    height: 110px;
    background-color: #ffffff2e;
}

.background_contact {
    display: flex;
    justify-content: space-evenly;
    padding-top: 13px;
}
.networks {
    color:rgba(255, 255, 255, 0.781);
    font-size: 43px;
    margin-top: 260px;
}
.networks i {
    margin: 10px 0;
}
.form_contact{
    width: 50%;
    padding: 35px;
    text-align: center;
}
.contact__title {
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    padding-top: 35px;
    letter-spacing: 3px;
}
.contact__title::after {
    content: '';
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 127px;
    height: 3px;
    background: var(--color1);
    margin-bottom: var(--spaces);
}
.contact__input {
    background-color: #ffffffa1;
    margin: 15px 0;
    width: 70%;
    padding: 7px;
    font-size: 20px;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 4px;
    transition: all .3s;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.3);
}
.contact__input:hover {
    background-color: #ffffffd4;
    border: none;
}
.contact__input:focus {
    background-color: #ffffffd4;
    border: none;
}
.mensaje {
    width: 70%;
    height: 165px;
    resize: none;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.3);
}
.bottonContact,
.bottonContact:link,
.bottonContact:visited {
    border: none;
    outline: none;
    padding: 12px 38px;
    box-sizing: border-box;
    font-size: 22px;
    color: #fff;
    border-radius: 3px;
    margin-top: 15px;
    background-color: rgba(245, 130, 32, 0.8);
    box-shadow: 0 5px 7px rgba(0,0,0 , .5);
    transition: all .2s;
}
.bottonContact:hover {
    transform: scale(1.01) translateY(-3px);
    background-color: rgba(245, 130, 32, 0.9);
    box-shadow: 0 10px 12px rgba(0,0,0 , .2);
    cursor:pointer;
}
.bottonContact:active {
    transform: scale(1) translateY(-1px);
    background-color: rgba(245, 130, 32, 0.9);
    box-shadow: 0 7px 9px rgba(0,0,0 , .3);
    cursor: pointer;
}
.data_randfood {
    width: 30%;
}
.data_randfood p {
    padding-top: 15px;
    color:#fff;
}
.data_randfood i {
    margin-right: 15px;
    color:rgba(255, 255, 255, 0.781);
}
.maps_contact {
    padding: 30px 0;
}
.maps_contact iframe{
    width: 100%;
    height: 300px;
}