#contact {
    padding: 13% 0;
    background-image: url("../image/imagen3.jpg");
    background-size: cover;
}
#contact h2 {
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: sans-serif;
    color: rgba(245, 130, 32, 0.9);
}

#contact form {
    text-align: center;
}
#contact form .formContact {
    background-color: #ffffff9c;;
    margin: 15px 0;
    width: 30%;
    padding: 7px;
    font-size: 20px;
    border: none;
    outline: none;
    font-family: sans-serif;
    height: 30px;
}
#contact form .formContact:hover {
    background-color: #ffffffc7;
    border: none;
    font-size: 23px;
}
#contact form .formContact:focus {
    background-color: #ffffffc7;
    border: none;
    font-size: 23px;
}
#contact form .mensaje {
    width: 50%;
    height: 165px;
}
#contact .bottonContact{
    border: none;
    outline: none;
    padding: 12px 38px;
    box-sizing: border-box;
    font-size: 22px;
    color: #fff;
    border-radius: 3px;
    margin-top: 15px;
    background-color: rgba(245, 130, 32, 0.8); 
    transition: .3s;
}
#contact .bottonContact:hover {
    background-color: rgba(245, 130, 32, 0.9); 
}
