.products{
  position: relative;
  display:flex;
  flex-direction: column;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 70px;
}
.container__products__title {
    background-image: url(../image/productos/fondo-products.png);
    height: calc(100vh - 150px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.products__title {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    text-align: center;
  }
.products__title h1 {
    font-weight: 300;
    font-size: 32px;
}
.products__title h1 span {
    color: var(--color1);
}
.products__title p {
    padding-top: 20px;
    font-size: 20px;
}
.products__title p span {
    color: var(--color2);
}
.container__products__title img {
    max-width: 810px;
    margin: 0 auto;
}
.ingredients__choice {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    text-align: center;
    color: var(--color2);
    font-size: 25px;
    padding-bottom: 20px;
    font-weight: bold;
}
.ingredients__selected__container {
    margin: 0px auto;
    max-width: 1080px;
    width: 100%; 
    margin-top: 20px;    
}
.ingredients__selected__title {
    color: rgb(155, 155, 155);
    padding: 7px;
}
.ingredients__selected {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 60px;
}
.not_selected_Ingredients {
    height: 40px;
    display: flex;
    align-items: center;
    color: var(--color1);
    padding: 7px;    
}

.ingredients__selected span {
    display: inline-block;
}
.ingredients__selected .button__img {
    display: none;
}
.not__selected {
    height: 54px;
    color: var(--color2);
    display: flex;
    align-items: center;
}

.ingredients__selected button {
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #ccc9c96b;
    margin: 7px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
    font-size: 17px;
    color: #393939;
}
.ingredients__selected button i {
    display: none;
}
.ingredients__selected button:hover i {
    display: flex;
}
.ingredients__selected button:focus {
    outline: none;
}
.ingredients__selected button p {
    display: none;
}

.container__products__config {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    height: 90px;
    display: flex;
}
.products__progress {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}
.line__progress__bottom {
    height: 9px;
    background-color: rgba(181, 181, 181, 0.86);
    border-radius: 5px;
    max-width: 350px;
}
.line__progress__top {
    height: 9px;
    background-color: rgba(108, 198, 141, 0.86);
    border-radius: 5px;
    max-width: 350px;
}
.detail__line__progress {
    color: rgb(155, 155, 155);
    font-size: 13px;
    padding-top: 7px;
}
.products__categories {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.products__categories select {
    font-size: 20px;
    padding: 5px 10px;
    border: solid 1px rgb(155, 155, 155);
    color: rgb(155, 155, 155);
}
.products__categories label {
    color: rgb(155, 155, 155);
}
.container__ingred {
    max-width: 1080px;
    margin: 20px auto;
}
.container__ingredients {
    display: flex;
    flex-wrap: wrap;
}
.container__ingredients span {
    display: none;
}
.container__ingredients button{
    width: 160px;
    border-radius: 21px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.2);
    text-align: center;
    transition: all 0.25s;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
    border: none;
    background: transparent;
}
.button__img{
    width: 90%;
    height: auto;
}
.container__ingredients button p {
    position: absolute;
    display: none;    
    text-transform: uppercase;
    text-decoration-line: underline;
    color: #393939;
    font-size: 18px;
    font-weight: 600;
}
.container__ingredients button i {
    display: none;
}
.container__ingredients button:hover p {
    display: flex;
    transition: 0.1s;
}
.container__ingredients button:hover img{
    opacity: 43%;
    transition: .1s;
}
.container__ingredients button:focus {
    outline: none;
} 

.arrow__left__ingredients {
    position: absolute;
    top: 45%;
    left: -7%;
    border: solid 2px var(--color1);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow__right__ingredients {
    position: absolute;
    top: 45%;
    right: -7%;
    border: solid 2px var(--color1);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow__left__ingredients i, .arrow__right__ingredients i {
    font-size: 20px;
}
.container__plates {
    width: 100%;
    max-width: 1080px;
    height: 100%;
    margin: 20px auto;
}
.plates__choice {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 25px;
    padding-bottom: 20px;
    font-weight: bold;
}
.container__card__plate {
    position: relative;
    padding: 35px 0;
}
.container__card__plates {
    display: flex;
    flex-wrap: wrap;
}
.card__plates {
    width: 250px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.06);
    text-align: center;
    transition: all 0.25s;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 10px;
}
.plates__description {
    height: 67%;
    position: relative;    
}
.plates__image {
    height: 100%;

    background-size: cover;
}
.plates__description p {
    display: none;
    position: absolute;
    text-align: left;
    padding: 0 10px;
    font-size: 14px;
}
.plates__description i {
    font-size: 60px;
    color: #3331319c;
    padding-bottom: 10px;
}
.plates__description:hover .plates__image {
    opacity: 14%;
    transition: .1s;
}
.plates__description:hover p {
    display: flex;
    transition: .3s;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    flex-direction: column;
}




.plates__data h4{
    font-weight: 600;
    font-size: 17px;
    color: #f58220;
}

.plates__data p{
    font-size: 15px;
    font-weight: 500;
    color: rgb(9, 211, 100);
    margin-top: 8px;
}
.card__plates .cart-button{
    margin: 8px 0;
    text-transform: uppercase;
    color: #c7c7c7;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.card__plates .cart-button:hover{
    cursor: pointer;

    color: #f58220;
}

.card__plates .cart-button i{

    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}


