#nav {
    width: 100%;
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;    
}
.nav1{
    background-color: #fff;
    height: 90px;
    color: #000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.home .nav1{
    background-color: #00000000;
    height: 90px;
    color: #fff;
    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.5);
}
.nav2{
    background: #fff;
    height: 90px;
    color: #000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.home .nav1 .menu-movile {
    color: #fff;
}
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 20px;
}
.nav-logo img{
    max-width: 235px; 
}
.nav-logo-movile img {
    height: 50px;    
}
.menu-movile {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 30px;
    display: none;
}
.menu-movile:focus {
    outline: none;
}
.header-nav-links {
    max-width: 500px;
    width: 100%;
}
.header-nav-links {
    display: flex;
    justify-content: space-around;
}
.header-nav-links a{
    font-size: 15px;
    border-bottom: 3px solid transparent;
    color: inherit;
}
.header-nav-links a:hover{
    border-bottom: 3px solid #f58220;
    transition: 0.6s;
}
.header-nav-options {
    max-width: 250px;
    width: 100%;   
}
.header-nav-options {
    display: flex;
    justify-content: space-around;
}
.header-nav-options a{
    font-size: 15px;
    border-bottom: 3px solid transparent;
    color: inherit;
}
}
.header-nav-options a:hover {
    border-bottom: 3px solid #f58220;
    transition: 0.6s;  
}
.header-nav-options .fas {
    padding-right: 5px;
}
.header-nav-options .icon {
    font-size: 24px;
    display: none;
}
.header-nav-options .icon:hover {
    border-bottom: 3px solid transparent;
}



@media (max-width: 850px) {

.menu-movile {
    display: block;
    order: 4;
}
.nav-logo {  
    order: 1;
    flex-grow: 2;
}
.header-nav-options {
    order: 2;
    
}
.header-nav-links {
    display: none;
    order: 3;
    position: absolute;
    width: 160px;
    right: 0;
    top: 90px;
    background-color: #fff; 
    box-shadow: -5px 5px 8px -6px #d8d7d7;
}
.home .nav1 .header-nav-links {
    background-color: transparent;
    box-shadow: none;
}
.header-nav-links li {
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: solid 1.5px #eaeaea47;
    margin: 0 5px;
    padding-right: 35px;
}
.header-nav-links li:first-child {
    border-top: solid 1.5px #eaeaea47;
}
.nav2 .header-nav-links li {
    border-top: none;
    border-top: solid 1.5px #eaeaeac2; 
}

.menu-movile:focus + .header-nav-links {
    display: block;
}
.header-nav-links:hover {
    display: block;
}

}

@media (max-width: 550px) {
.header-nav-options span {
    display: none;
}
.header-nav-options {
    max-width: 140px;
}
}
.nav-logo img{
    max-width: 180px; 
}
}